body {
    margin: 0;
    font-family: system-ui;
}

.ribbon {
    position: absolute;
    top:0;
    left:0;
}


.explanation {
    margin: 20px;
}

.canvas-wrap {
    display: flex;
    justify-content: space-around;
}